PORT=3000

# MySQL
DB_HOST=10.0.0.15
DB_USER=backend_user
DB_PASSWORD=ClaveProduccionUltraSegura!
DB_NAME=totem_banos

# JWT
JWT_SECRET=K#7tQ9^b2s!WpXr3Z&yM@v6Jf$D8gL0N*eHq
JWT_EXPIRES_IN=60m

# CORS
CORS_ORIGIN=https://tu-frontend.netlify.app
