PORT=3000

# MySQL
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=NuevaClaveSegura123!
DB_NAME=totem_banos

# JWT
JWT_SECRET=una_clave_super_segura_dev
JWT_EXPIRES_IN=60m

# CORS
CORS_ORIGIN=http://localhost:5173
